body {
  background-color: #635263;
  color: #efefef;
  font-size: 30px;
}

.score-container {
  float: left;
}

.prev-score-container {
  float: right;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.side-by-side {
  display: flex;
  justify-content: space-around;
}

#correct, #skip {
  display: none;
}


#skip {
  background: #722;
}

.btn {
  background: transparent;
  color: #efefef;
  width: 150px;
  height: 100px;
  margin-left: 20px;
  font-size: 25px;
}

.word {
  font-size: 30px;
  margin-bottom: 20px;
}

.time, .prev-score{
  text-align: right;
}

.time {
  color: #722;
  font-size: 40px;
}

#correct, .start {
  background: #494
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #111;
  display: none;
  padding: 80px;
}