body {
  background-color: #635263;
  color: #efefef;
  font-size: 30px;
}


#correct, #skip {
  display: none;
}

.word {
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #111;
  display: none;
  padding: 80px;
}